[DEFAULT]
ConnectionType=acceptor
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
ValidOrderTypes=1,2
SenderCompID=TRADING_PLATFORM
UseDataDictionary=Y
DefaultMarketPrice=Y
FileStorePath=data/fix/store
FileLogPath=data/fix/log

[SESSION]
BeginString=FIX.4.4
TargetCompID=CLIENT1
SocketAcceptPort=9876
DataDictionary=FIX44.xml

# Made with Bob
